name: Build EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore PhoenixTS93/PhoenixTS93.csproj

    - name: Build
      run: dotnet build PhoenixTS93/PhoenixTS93.csproj -c Release

    - name: Publish
      run: dotnet publish PhoenixTS93/PhoenixTS93.csproj -c Release -o ./publish

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: PhoenixTS93
        path: ./publish
